/* Adapted from menucool.com */

.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
    padding-right: 15px;
}

.tooltip .displayText {
    border-bottom: 1px dotted #666;
}

.tooltip .right {
    min-width: 0px;
    max-width: 0px;
    max-height: 0px;
    top: 50%;
    left: 100%;
    /*margin-left: 15px;*/
    transform: translate(0, -50%);
    padding: 15px;
    color: #EEEEEE;
    background-color: #444444;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip .right .tooltipText {
    overflow-y: scroll;
    min-width: 0px;
    max-width: 0px;
    max-height: 0px;
}

.tooltip:hover .right .tooltipText {
    min-width: 100px;
    max-width: 400px;
    max-height: 520px;
}

.tooltip:hover .right {
    visibility: visible;
    min-width: 150px;
    max-width: 450px;
    max-height: 550px;
    opacity: 1;
}